<ActionBar title="Home">
  <NavigationButton class="fa" text="&#xf002;"></NavigationButton>
  <ActionItem>
    <StackLayout>
      <label class="fa icon"  text="&#xf0c9;" (tap)="openDrawer()"></label>
    </StackLayout>
  </ActionItem>
</ActionBar>

<StackLayout marginTop="15%">
  <Label text="Global Redirection" class="h1 text-center" marginBottom="10%"></Label>
  <Button text="tap for help" (tap)="showHelp()" class="btn btn-primary btn-active"></Button>
  <Label *ngIf="showMsg" [text]="helpMsg" class="h2 text-center" textWrap="true"></Label>

  <Button text="P1" [nsRouterLink]="['/page1']" class="btn btn-outline btn-rounded-lg"></Button>
  <Button text="Calendar" [nsRouterLink]="['/calendar']" class="btn btn-outline btn-rounded-lg"></Button>
  <Button text="P3" [nsRouterLink]="['/page3']" class="btn btn-outline btn-rounded-lg"></Button>
</StackLayout>
